//colors:
$noir: #000000;
$blanc: #FFFFFF;

body{
    background-color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
}
.container-sm {
    .list-group {

        .list-group-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .image {

    
                img {
                    object-fit: cover;
                    width: 80px;
                    height: 80px;
                }
            }

            .nom {
                color: $noir;
            }
            .edit-delete {
                display: flex;
                flex-direction: row;
                .modifier {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $blanc;
                    width: 100px;
                    height: 40px;
                    border-radius: 6px;
                    background: linear-gradient(145deg, #009e1b, #008517);
                    margin-right: 5px;
                }
                .supprimer {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $blanc;
                    width: 100px;
                    height: 40px;
                    border-radius: 6px;
                    background: linear-gradient(145deg, #990000, #810000);
                    margin-left: 5px;
                }
            }
        }
    }
}

#ajouter{
    margin: 20px;
}

.container {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    h1 {

    }
    .nav {
        display: flex;
        justify-content: center;
        align-content: center;
        .entreprises {
    
        }
        .contacts {
    
        }
        .demandes {
    
        }
    }
}

/*----------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------*/

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .container, .container-lg, .container-md, .container-sm {
        max-width: 720px;
    }
}